Livros-Slack/Planilha e Slack.json
{
  "name": "Planilha e Slack",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6dab94e0-4d07-46af-9859-7311902fd5d9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kFMTbuvWLMcX-DAn29ikz1LQ7utIhvniHROwUNankHI",
          "mode": "list",
          "cachedResultName": "Planilha_Livro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kFMTbuvWLMcX-DAn29ikz1LQ7utIhvniHROwUNankHI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576793133,
          "mode": "list",
          "cachedResultName": "Planilha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kFMTbuvWLMcX-DAn29ikz1LQ7utIhvniHROwUNankHI/edit#gid=1576793133"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "8a2bc225-9e41-4098-99db-4d7d2a5a1d10",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTYQe7hckbvRjTEn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6db0ddcf-2cd1-4fba-8a46-635ede3f7d2e",
              "name": "Título do Livro",
              "value": "={{ $json['Título do Livro'] }}",
              "type": "string"
            },
            {
              "id": "86087d5c-2f0c-409a-902b-f9f837c02270",
              "name": "Autor_Genero",
              "value": "={{ $json['Gênero'] }}",
              "type": "string"
            },
            {
              "id": "f8ee38cc-1788-4c0d-93fa-93d95096a069",
              "name": "Preço (R$)",
              "value": "={{ $json['Preço (R$)'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -176
      ],
      "id": "ec7e85ca-843d-4ca3-82e5-ff58366c5e54",
      "name": "Set dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8849fc44-13e4-4b5c-aff2-01e87d0c9b87",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "@livraria",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        64
      ],
      "id": "202f1d8d-445e-49a2-9cb7-04a30a45c1f6",
      "name": "Se emails"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        160
      ],
      "id": "9c4f9b7b-e4a1-4307-bfc5-910ad92aaae3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Email"
            },
            {
              "fieldToAggregate": "Autor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        -32
      ],
      "id": "52426bce-db81-4876-9410-d4435c687a49",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09RKE6J9L4",
          "mode": "list",
          "cachedResultName": "livros-n8n"
        },
        "text": "=Novos autores adicionados \nNomes: {{ $json.Autor }} \nEmail: {{ $json.Email }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        880,
        -32
      ],
      "id": "302ac49e-e00c-4fbd-ba68-ef7e06b40fe8",
      "name": "Send a message",
      "webhookId": "35d3b897-12f5-4100-9f4c-2990ca25d35b",
      "credentials": {
        "slackApi": {
          "id": "2saN3ETeTKXwQZUD",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Set dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Se emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se emails": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa4f9398-ade7-4e54-985a-1280a52246f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8690678d36f034502b7c26c69b07ea610b18e6d78eb76b8c24333d1ae1d906e8"
  },
  "id": "3yZmI9p6UuU6U6Kj",
  "tags": []
}