chatbot/chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-assistent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "788e9903-1265-4c86-be7a-848f27caf96d",
      "name": "Webhook",
      "webhookId": "7538bb6b-a3e8-4f11-bb40-d0d76fa93c81"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eff1c29e-a543-41f9-8282-e066a3eb6175",
              "name": "bodymessage",
              "value": "={{ JSON.parse($json.body).message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "52a77992-701a-41c0-b59a-bb14766fe33c",
      "name": "set"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem:  {{ $json.bodymessage }}",
        "options": {
          "systemMessage": "=Você é um assistente adiministrativo que faz atendimento ao cliente para a clinica \"Sorriso Perfeito\" voce oferece serviços como agendamento e consulta de horario de atendimento e faz cobrança das consultas.\n\nComplemente a sua resposta acessando a ferramentas de planilha de regras"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6567c53b-6963-4216-870b-b23f3b179711",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        192
      ],
      "id": "836b055f-30fa-4f72-b2ef-a66d285e0ece",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B40jqvL4zyEMJfmO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        0
      ],
      "id": "feeb31fd-3feb-498b-8f4b-32fb42240aeb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UL55MKpn8j0u23_MmARH4Z-LZVbo1OcAciJfJmZNzHc",
          "mode": "list",
          "cachedResultName": "lili_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UL55MKpn8j0u23_MmARH4Z-LZVbo1OcAciJfJmZNzHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1368642819,
          "mode": "list",
          "cachedResultName": "meu bot é um assistente de agendamento odontologi...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UL55MKpn8j0u23_MmARH4Z-LZVbo1OcAciJfJmZNzHc/edit#gid=1368642819"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        192
      ],
      "id": "99e9da0b-74a3-4916-8f70-7e798eda711e",
      "name": "planilha de regras",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTYQe7hckbvRjTEn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        496,
        192
      ],
      "id": "95ac87b3-e782-4200-b384-74bea0129d83",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "vwvgn7nipSUAJ4bT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "planilha de regras": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2f76c62-b6bb-4786-8737-0e791c251735",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8690678d36f034502b7c26c69b07ea610b18e6d78eb76b8c24333d1ae1d906e8"
  },
  "id": "9narecpHLOBjsjms",
  "tags": []
}